@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    background-color: black;
    color: #FFF;
    align-content: center;
    font-family: 'Nanum Myeongjo', serif;

}

::-webkit-scrollbar {
    width: 0px;
}

.switch {
    position: absolute;
    visibility: hidden;

}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 40px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 16px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #000000;
}

.switch--shadow:checked+label:after {
    transform: translateX(30px);
}

.container-body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 200px;
    margin-top: 0;
    margin-bottom: 0;

}

.container-header {
    display: flex;
    height: 25px;
    flex-flow: column wrap;
    align-content: space-between;
    margin: 0px;

}

.inicio {
    display: flex;
    height: auto;
    flex-flow: column wrap;
    align-content: space-between;
}

.imagem img {
    vertical-align: middle;
    border-style: none;
    width: 40%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50%;
}

.imagem img:hover {
    vertical-align: middle;
    border-style: none;
    width: 50%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.titulo h1 {
    text-align: right;

}

.titulo p {
    text-align: right;
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #552383;
    font-size: 50px;

}

.flex-container {
    display: flex;
    height: 300px;
    flex-flow: column wrap;
    align-content: space-between;
}

.flex-container>div {
    width: 400px;
    margin: 10px;

}



.formacao h3 {
    color: #552383;
    font-size: 50px;
}


.experiencia h4 {
    color: #552383;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteiner-contato img {
    width: 20px;
}

.container-footer {
    display: flex;
    height: 25px;
    flex-flow: column wrap;
    align-content: space-between;

}

@media (max-width: 1100px) {
    .flex-container {
        display: flex;
        height: auto;
        flex-flow: column wrap;
        align-content: space-between;
    }

    .container-header {
        display: flex;
        height: auto;
        flex-flow: column wrap;
        align-content: space-between;
        margin: 0px;

    }

    .flex-container>div {
        width: auto;
        margin: 10px;

    }

    .container-footer {
        display: flex;
        height: auto;
        flex-flow: column wrap;
        align-content: space-between;

    }

    .inicio {
        display: flex;
        height: auto;
        flex-flow: column wrap;
        align-content: space-between;
    }

}

@media (min-width: 1400px) {
    .inicio {
        display: flex;
        height: auto;
        flex-flow: column wrap;
        align-content: space-between;
    }

    .titulo {
        width: 1000px;
    }
}