@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    background-color: black;
    color: #FFF;
   align-content: center;
    font-family: 'Nanum Myeongjo', serif;
    
}

::-webkit-scrollbar {
    width: 0px;
}

.container-body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 200px;
    margin-top: 0;
    margin-bottom: 0;

}

.container-header {
    display: flex;
    height: 25px;
    flex-flow: column wrap;
    align-content: space-between;
    margin: 10px;

}

.perfil img {
    vertical-align: middle;
    border-style: none;
    width: 70%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50%;
}

.perfil img:hover {
    vertical-align: middle;
    border-style: none;
    width: 110%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.titulo h1 {
    text-align: right;

}

.titulo p {
    text-align: right;
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #552383;
    font-size: 50px;

}

.flex-container {
    display: flex;
    height: 300px;
    flex-flow: column wrap;
    align-content: space-between;
}

.flex-container>div {
    width: 400px;
    margin: 10px;

}



.formacao h3 {
    color: #552383;
    font-size: 50px;
}


.experiencia h4 {
    color: #552383;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteiner-contato img {
    width: 20px;
}

.container-footer {
    display: flex;
    height: 25px;
    flex-flow: column wrap;
    align-content: space-between;
    
}